/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
} 

/* Mi propio CSS */

@font-face {
  font-family: "Baumans";
  src: url(../fonts/Baumans-Regular.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul a {
  text-decoration: none;
  color: white;
}

#navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(255, 43, 43);
  color: white;
}

#navbar h1{
  font-family: "Baumans", Arial, sans-serif;
}

#navbar-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#hero{
  width: 100%;
  height: 420px;
  position: relative;
  background-image: url('../img/edited-wes-hicks-MEL-jJnm7RQ-unsplash.jpg');
  background-size: cover; 
  background-position: center;
}

#hero-text{
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap:10px
}

#hero-text h1 {
  font-size: 2.6em;
}

#hero-text p {
  font-size: 1.1em;
}

.product-showcase{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 50px;
}

.product-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.product-box img {
  width: 200px;
  height: 180px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Estilos para responsividad */

@media (max-width: 768px){
  #navbar {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  #navbar-links {
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
  }
   #navbar-links li{
    text-decoration: underline;
   }
  .product-box {
    width: 100%;
  }
  #hero-text h1 {
    font-size: 2em;
  }
  #hero-text p {
    font-size: 1em;
  }
  #hero-text{
    gap:20px
  }
}
